# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Editor & IDE Settings
.vscode/
.idea/
*.swp
*.swo

# Logs and Temporary Files
*.log
npm-debug.log*
.lock-wally
.sass-cache/

# Build or Distribution Outputs (if applicable)
dist/
build/
